@font-face {
    font-family: "BtFont";
    src: url("../fonts/SoftLine.ttf")
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #696578;
}

.hidepage {
    display:none !important;
}


/* UTILITIES >>>>>>*/

    button {
        font-family: "BtFont";
        font-size: xx-large;
        font-weight: bold;
        text-decoration: none;
        height: 30px !important;
        width: auto;
        background: none;
        border: none;
        position: relative;
        padding: 2px;
    }

    button:hover > .border-bottom {
        width: 100%;
        transition: 0.7s;
    }
    button:hover > .border-left {
        top: 100%;
        transition: 0.7s;
    }

    .border-left {
        transition: 0.7s;
        border-left: 2px solid #696578;
        position: absolute;
        top: 15%;
        bottom: 0;
    }
    
    .border-bottom {
        transition: 0.7s;
        top: 100%;
        position: absolute;
        width: 0%;
        border-bottom: 2px solid #696578;
        top: 0;
        bottom: 0;
    }

    .btn-text {
        position: relative;
        top: -8%;
        left: 5%;
        margin: 0;
    }

    .logo {
        height: 100%;
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        min-width: 161px;
        margin: 2px 2%;
    }

/* UTILITIES <<<<<<*/

/* HEARDER >>>>>>*/

#usermanagement {
    height: 100%;
    width: 100%;
    max-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 20%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* HEADER <<<<<<<<*/


/* MAIN ACCEUIL >>>>>>>>>*/

#forliv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display:block;
    margin: 1%;
    width: 98%;
    height: 80%;
    position: relative;
}


#content > * {
    transition: 2s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#posts {
    height: 100%;
    width: 65%;
    overflow: auto;
}

#createpost {
    left: 65%;
    width: 35%;
    height: calc(100% / 3);
}


#filters {
    height: calc(100% / 3);
    top: calc(100% / 3);
    left: 65%;
    width: 35%;
}

#chats {
    top: calc((100% / 3)*2);
    height: calc(100% / 3);
    left: 65%;
    width: 35%;
}

.postsunfocus {
    width: 40% !important;
}

.chatsfocus {
    top: 0% !important;
    height: 100% !important;
    left: 40% !important;
    width: 60% !important;
    transition: 1s !important;
}

.unfocuschat{
    left: 40% !important;
    width: 60% !important;
    opacity: 0 !important;
    top: 0% !important;
    height: 0% !important;
}

.unfocuscreate{
    top: 100% !important;
    left: 40% !important;
    width: 60% !important;
    opacity: 0 !important;
    height: 0% !important;
}

.createfocus {
    height: 100% !important;
    left: 40% !important;
    width: 60% !important;
}

.verticalsep {
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
    border-right: 2px solid #696578 ;
    border-radius: 50%;
}

.horizontalseptop {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    border-top: 2px solid #696578 ;
    border-radius: 50%;
}

.horizontalsepbottom {
    bottom: 0;
    position: absolute;
    left: 10%;
    width: 80%;
    border-bottom: 2px solid #696578 ;
    border-radius: 50%;
}

.classpost {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MAIN ACCEUIL <<<<<<<<*/


/* LOGIN/REGISTER >>>>>>>>>*/

#login_register {
    display: flex;
    height: 100vh;
    max-height:100vh;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

#login_register input {
    min-height: 0;
    margin: 2px;
}



#login_register > form > div, form {
    display: flex;
    flex-direction: column;
    /*! justify-content: center; */
}

#loginform {
    flex-flow: column-reverse;
}

#login_register > form > * {
    margin: 3px;
    height: 100%;
    box-sizing: border-box;
}

.greyline {
    width: 80%;
    border-bottom: 2px solid #696578 ;
    margin: 2%;
}

.close {
    transition: 1s;
    transform: scaleY(0);
    height: 0% !important;
}

.formdiv {
    transition: 1s;
}

/* LOGIN/REGISTER <<<<<<<<*/


/* CHAT >>>>>>>>>*/
.active {
    color: green;
}
.inactive {
    color: red;
}

.displaychatbox {
    display: flex !important;
    flex-direction: row !important;
}

#chatbox {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#chatbox > button {
    width: 20%;
}

#messages  {
    height: 96%;
    width: 96%;
    margin: 2%;
    background-color: rgba(206, 206, 206, 0.342);
    border-radius: 2px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#userlist {
    width: auto;
}

.from {
    text-align: left;
}

.to {
    text-align: right;
    background-color: rgba(206, 206, 206, 0.4);
}

/* CHAT <<<<<<<<*/
